/* Variables */

body {
  --lhs-nav-width: 320px;
  --rhs-toc-width: 350px;
  --docs-total-max-width: unset;
  --docs-content-max-width: 1400px;
  --docs-justify-content: center;
  --docs-outside-background: rgb(0, 0, 0);
  --docs-outside-flex: 0 0 0;
  --speckles-opacity: 20%;
  --header-footer-max-width: 1800px;
}

.speckles {
  opacity: var(--speckles-opacity);
}

.colorblock {
  background: var(--docs-outside-background);
  flex: var(--docs-outside-flex);
}

.colorblockend {
  background: var(--docs-outside-background);
  flex: var(--docs-outside-flex);
  order: 2;
}

/* LHS nav */

main {
  display: flex;
  justify-content: var(--docs-justify-content);
  max-width: var(--docs-total-max-width);
}

.lhs-nav-wrapper {
  width: var(--lhs-nav-width);
  flex-shrink: 0;
}

.lhs-nav {
  position: sticky;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  padding: 20px 20px 0 0;
  box-sizing: border-box;
  background: #454545;
  color: #9e9e9e;
}

.lhs-nav .active {
  color: white;
}

.lhs-nav ol {
  padding-left: 40px;
}

.lhs-nav ol ol {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.lhs-nav ol ol li {
  padding-left: 12px;
}

.lhs-nav li {
  font-size: 22px;
  list-style: none;
  margin-bottom: 8px;
}

.lhs-nav a {
  color: inherit;
}

.lhs-nav a:hover {
  color: #00e8ff;
}

.lhs-nav ol ol li {
  font-size: 14.64px;
}

.lhs-nav li li.active {
  list-style: '♦';
}

/* Article */

article {
  flex-grow: 1;
  overflow-x: auto;
  padding: 32px 24px;
  line-height: 1.8em;
  font-size: 20px;
  max-width: var(--docs-content-max-width);
  margin-left: 50px;
}

article [id] {
  /* Adjust scroll margins of all article headings to account for sticky header.
     Otherwise, we'll scroll headings underneath the header. Add a little bit
     more too, for some extra breathing room. */
  scroll-margin-top: calc(var(--header-height) + 12px);
}

article > h1:first-of-type {
  /* The default margin of the first heading extends above the article, which
     complicates layout a bit. We have padding-top on the article itself. */
  margin-top: 0;
}

article h1 {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 2px solid #3456f5;
  font-size: 45px;
}

article h2 {
  color: #324fff;
  font-weight: bold;
  font-size: 34px;
}

article p {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}

/* Alert styles for notes and warnings */

.alert {
  display: none;
  position: relative;
  margin: 24px 0;
  padding: 1px 20px 1px 56px;
  box-shadow: 0 0 2px #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

.alert::before {
  position: absolute;
  top: 17px;
  left: 17px;
}

.alert.alert-info::before {
  content: url(/images/alerts/info.svg);
}

.alert.alert-warning::before {
  content: url(/images/alerts/warning.svg);
}

.alert.alert-todo {
  box-shadow: 0 0 2px #c00;
}

.alert.alert-todo h3 {
  color: red;
}

/* Inline TOC */

.inline-toc {
  /* Only visible in narrow layout. */
  display: none;
}

.inline-toc ol {
  list-style: disc;
}

/* RHS TOC */
.rhs-toc-wrapper {
  width: var(--rhs-toc-width);
  flex-shrink: 0;
  /* For some reason, when the natural DOM order is article > TOC, there is a
     layout flash (easier to see with CPU throttling on). If we switch the
     natural order to TOC > article, then change it here with CSS order, the
     flash goes away. This order is probably better for screen-readers anyway.
     */
  order: 1;
  margin-left: 50px;
}

.rhs-toc {
  position: sticky;
  top: calc(var(--header-height) + 57px);
  height: calc(100vh - var(--header-height) - 60px);
  overflow-y: auto;
}

.rhs-toc h2 {
  font-size: 20px;
  font-weight: 700;
}

.rhs-toc li {
  margin-top: 14px;
  font-weight: 500;
}

.rhs-toc ol {
  list-style-type: none;
  padding-left: 30px;
}

.rhs-toc ol ol li {
  margin-top: 14px;
}

.rhs-toc ol ol {
  padding-left: 25px;
}

.rhs-toc a {
  color: #898989;
  font-size: 18px;
}

.rhs-toc ol ol a {
  font-size: 14px;
}

.rhs-toc a.active,
.rhs-toc a:hover {
  color: black;
}

.rhs-toc a.active:before {
  content: '♦';
  color: #324fff;
  position: absolute;
  left: 0;
  font-size: 18px;
  line-height: 25px;
  pointer-events: none;
}

.rhs-toc ol ol a.active:before {
  line-height: 16px;
}

/* Slightly narrow layout (hide RHS TOC) */

@media (max-width: 1500px) {
  .inline-toc {
    display: initial;
  }
  .inline-toc summary {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .rhs-toc-wrapper {
    display: none;
  }
}

/* Very narrow layout (hide LHS nav) */

@media (max-width: 899px) {
  .lhs-nav-wrapper {
    display: none;
  }
  article {
    margin-left: 0;
  }
}

footer {
  border-top: 1px solid #324fff;
}
