/**
 * Undo main content centering/max-width.
 *
 * TODO(aomarks) Probably better to make these opt-in instead of opt-out, so we
 * wouldn't this here.
 */
main {
  margin: 0;
  max-width: none;
}

/**
 * Hide the footer. On this page, we really need the full height, and any
 * vertical scrolling is awkward.
 *
 * TODO(aomarks) Don't even render the footer.
 */
body {
  --playground-footer-height: 0;
}
footer {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
}

.playground-examples-and-ide {
  flex: 1;
  display: flex;
  flex-direction: row;
}

/* Bar */

.playground-bar {
  height: 86px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #324fff;
  color: white;
}

.playground-bar-prompt {
  padding-left: 24px;
  font-size: 18px;
  font-weight: 500;
}

.playground-bar-buttons {
  --mdc-theme-primary: currentcolor;
  --mdc-icon-size: 36px;
  display: flex;
  align-items: center;
}

.playground-bar-buttons > * {
  margin-left: 34px;
}

.playground-run-button {
  border: 2px solid white;
  height: 36px;
  background: none;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
}

.playground-run-button:before {
  content: '▷';
  margin: 0 12px 0 4px;
  font-weight: 600;
}

.playground-run-button:hover {
  color: cyan;
  border-color: cyan;
  cursor: pointer;
}

/* Examples layout */

.playground-examples {
  --examples-closed-width: 48px;
  --examples-open-width: 300px;
  width: var(--examples-closed-width);
  transition: width 200ms;
  background: #454545;
  color: white;
  display: flex;
  flex-direction: column;
}

.playground-examples.open {
  width: var(--examples-open-width);
}

.playground-examples-button {
  color: inherit;
  transition: transform 200ms;
  width: 48px;
  height: 48px;
}

.playground-examples.open .playground-examples-button {
  transform: translateX(calc(var(--examples-open-width) - 48px));
}

.playground-examples-content {
  /* The inner content always has the full width, so that it doesn't reflow as
     the parent width transitions, and we translate it so that the slide-in
     animation matches. */
  width: var(--examples-open-width);
  transform: translateX(calc(-1 * var(--examples-open-width)));
  transition: transform 200ms;
  flex: 1 0 0;
}

.playground-examples.open .playground-examples-content {
  transform: translateX(0);
}

.playground-examples:not(.open):not(.transitioning)
  .playground-examples-content {
  /* For a11y. Don't read out hidden examples. */
  visibility: hidden;
}

.playground-examples.no-animate,
.playground-examples.no-animate .playground-examples-button,
.playground-examples.no-animate .playground-examples-content {
  transition: none;
}

/* Examples content list */

.playground-examples-content {
  padding: 0 32px;
  box-sizing: border-box;
  overflow-y: auto;
}

.playground-examples-content h3 {
  color: inherit;
  display: none; /* TODO */
}

.playground-examples-content ul {
  padding-left: 0;
}

.playground-examples-content li {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 22px;
  font-weight: 500;
}

.playground-examples-content a {
  color: inherit;
}

.playground-examples-content a:hover {
  color: #00e8ff;
}

/* IDE */

playground-ide {
  flex: 1;
  height: unset;
  border: none;

  --playground-highlight-color: #324fff;
  --playground-code-font-size: 14px;

  --playground-code-keyword-color: #717171;
  --playground-code-type-color: #717171;
  --playground-code-def-color: #717171;
  --playground-code-attribute-color: #717171;
  --playground-code-variable-2-color: #717171;
  --playground-code-variable-3-color: #717171;
  --playground-code-string-color: #717171;
  --playground-code-tag-color: #717171;

  --playground-code-comment-color: #00b35f;

  /* Template tag functions */
  --playground-code-variable-color: #324fff;

  /* Template ${ } brackets */
  --playground-code-string-2-color: #324fff;

  /* Decorators */
  --playground-code-callee-color: #324fff;

  /*
  --playground-code-def-color: #324fff;
  --playground-code-string-color: #ff4914;
  --playground-code-type-color: #19d695;
  --playground-code-variable-color: #454545;
  --playground-code-string-2-color: #e39604;
  --playground-code-tag-color: #19d695;
  */
}
