/* LHS */

.landing-8-connect {
  display: flex;
  color: white;
  --connect-list-overlap: 170px;
  min-height: 960px;
}

.landing-8-connect-lhs {
  background: black;
  width: 50%;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 125px 0 125px var(--landing-side-margin);
}

.landing-8-connect-lhs .content {
  max-width: calc(var(--landing-max-width) / 2);
  padding-right: calc(var(--connect-list-overlap) + 30px);
  box-sizing: border-box;
  flex: 1;
}

.landing-8-connect-lhs h3 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-top: 0;
  max-width: 450px;
}

.landing-8-connect-lhs p {
  color: #f4f4f4;
  font-size: 28px;
  line-height: 1.68em;
  margin-bottom: 0;
  max-width: 450px;
}

/* RHS */

.landing-8-connect-rhs {
  background: #324fff;
  width: 50%;
  padding-right: 130px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.landing-8-connect-rhs a {
  color: white;
}

.landing-8-connect-rhs ol {
  flex: 1;
  max-width: calc(var(--connect-list-overlap) + var(--landing-max-width) / 2);
  margin: 0 0 0 calc(-1 * var(--connect-list-overlap));
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
  min-width: 850px;
  position: relative; /* for monolith */
}

.landing-8-connect li {
  border-bottom: 2px solid black;
  flex: 1;
  display: flex;
  position: relative;
}

.landing-8-connect a {
  flex-grow: 1;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 16.5px;
  padding-top: 37.5px;
  padding-right: 25px;
}

.landing-8-connect a:hover {
  background: white;
  color: black;
}

.landing-8-connect-rhs p {
  visibility: hidden;
  position: absolute;
  color: #324fff;
  left: 20px;
  bottom: 0;
  font-size: 21px;
  font-weight: 600;
  pointer-events: none;
}

.landing-8-connect-rhs li:hover p {
  visibility: visible;
}

.landing-8-connect .underline {
  width: var(--connect-list-overlap);
  border-bottom: 2px solid #3456f5;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.landing-8-monolith {
  background: #1b39ff;
  height: 425px;
  width: 135px;
  position: absolute;
  right: -68px;
  top: 50px;
  z-index: 0;
}
